body {
  margin: 0;
}

h1 {
  text-align: center;
  margin-top: 10%;
  font-family: "Baloo Tammudu", sans-serif;
  font-size: 50px;
  color: white;
}

li {
  list-style: none;
  display: inline;
}

#firstPage {
  background-image: url(background-cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.cover {
  background: rgba(37, 42, 48, 0.25);
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

#logo {
  /*background-image: url(logo.jpg);*/
  /*width: 50px;*/
  /*height: 50px;*/
  margin: 30px auto 0 auto;
}

.hire {
  width: 300px;
  /*height: 5px;*/
  margin: 10px auto 0 auto;
  border: 2px solid rgba(255, 255, 0, 1);
  border-radius: 50px;
    /*font-size: 30px;*/
  text-decoration: none;
  color: white;
  padding: 15px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  transition: width 0.3s, color 0.3s, background-color 0.3s;
}

.hire:hover {
  background-color: rgba(255, 255, 255, 1);
  color: black;
  width: 320px;
  transition: width 0.3s, color 0.3s, background-color 0.3s;
}

.learn {
  /*background-color: rgba(200,200,200,1);*/
  color: lightgray;
  margin: auto;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

#learn {
  margin: 0;
}

#arrow {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}

#arrow::before {
  content: "⌄";
  font-size: 30px;
}

.secondPage {
  background-color: rgba(255, 255, 255, 1);
}

.thirdPage {
  background-color: rgba(238, 238, 238, 1);
}

.fourthPage {
  background-color: rgba(255,255,255,1);
}

.fifthPage {
  background-color: rgba(254,215,102,1);
  text-align: center;
  margin: 0 auto;
}

.sixthPage {
  visibility: hidden;
}

#secondPage {
  height: auto;
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

#thirdPage {
  height: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

#fourthPage {
  height: 3200px;
  max-width: 1140px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

#fifthPage {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#container1 {
  margin: 50px auto 0 auto;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

#container1_2, #container2_2 {
  display: flex;
  flex-direction: row;
  font-family: "Ubuntu", sans-serif;
}

#container2_2 {
  position: relative;
  overflow: hidden;
  padding: 50px 0 0;
  margin-bottom: 100px;
  border-bottom: 1px solid #d6e1e5;
}

#p1 {
  font-size: 40px;
  font-weight: 600;
}

#p2 {
  font-size: 20px;
  font-weight: 400;
  color: rgba(100,100,100,1);
}

#section1,
#section2,
#section3 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/*#section1::before {
  content: "\f129";
}*/

#section1_1 {
    font-size: 38px;
  /*margin: auto;*/
  display: flex;
  flex-direction: column;
}

#section1_2 {
  font-size: 17px;
  margin: 5px auto auto auto;
  line-height: 35px;
  text-align: center;
  color: rgba(147, 164, 170, 1);
}

#email {
  text-decoration: none;
  color: rgba(94, 164, 247, 1);
  border-bottom: 1px dotted rgba(94,164,247,1);
}

#email:hover {
  color: rgba(30,174,219,1);
}

#project3 {
    /*font-size: 50px;*/
    width: 300px;
}

#part1 {
  display: flex;
  flex-direction: row;
  /*width: 50%;*/
  float: left;
}

.project-tags {
  color: #b2c6cd;
    /*font-size: 30px;*/
  font-weight: 700;
  letter-spacing: 1px;
  opacity: 1;
  text-transform: uppercase;
  padding-left: 0;
}

.project-tags::before {
  content: "\2022";
  color: yellow;
    /*font-size: 1.8rem;*/
}

.projects {
  width: 100%;
}

#part2 {
  float: right;
  margin: auto;
}

#fifth-p1 {
  font-size: 40px;
  font-weight: 600;
}

#fifth-p2 {
  font-size: 25px;
  width: 35%;
  margin: auto;
}

.getStarted {
  width: 150px;
  margin: 60px auto 0 auto;
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 50px;
  text-decoration: none;
  color: black;
  padding: 15px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  transition: width 0.3s, color 0.3s, background-color 0.3s;
}

.getStarted:hover {
  width: 200px;
  color: rgba(255, 255, 0, 1);
  background-color: black;
  transition: width 0.3s, color 1s, background-color 0.8s;
}

.resume {
  width: 100%;
  /*height: 100%;*/
  height: auto;
  text-align: center;
  background: gray;
}

#resume {
  width: 90%;
  height: 1200px;
}

.footer {
  background-color: rgba(37, 42, 48, 1);
}

#footer {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
}

/*.logo {
  margin: auto;
}*/

.links {
  margin: 15px auto 0 auto;
}

#links {
  width: 30px;
  height: auto;
}

/*Testing the form animation*/

/*.wrapper{
	width:960px;
	margin:20px auto;
	min-height:550px;
}
.box{
	width:49%;
}
.left{
	float:left;
}
.right{
	float:right;
}
.clear{
	clear:both;
}
a.back{
	color:#777;
	position:fixed;
	top:5px;
	right:10px;
	text-decoration:none;
}*/
/* Form Style */
/*.form_wrapper{
	background:#fff;
	border:1px solid #ddd;
	margin:0 auto;
	width:350px;
	font-size:16px;
	-moz-box-shadow:1px 1px 7px #ccc;
	-webkit-box-shadow:1px 1px 7px #ccc;
	box-shadow:1px 1px 7px #ccc;
}
.form_wrapper h3{
	padding:20px 30px 20px 30px;
	background-color:#444;
	color:#fff;
	font-size:25px;
	border-bottom:1px solid #ddd;
}
.form_wrapper form{
	display:none;
	background:#fff;
}
.form_wrapper .column{
	width:47%;
	float:left;
}
form.active{
	display:block;
}
form.login{
	width:350px;
}
form.register{
	width:550px;
}
form.forgot_password{
	width:300px;
}
.form_wrapper a{
	text-decoration:none;
	color:#777;
	font-size:12px;
}
.form_wrapper a:hover{
	color:#000;
}
.form_wrapper label{
	display:block;
	padding:10px 30px 0px 30px;
	margin:10px 0px 0px 0px;
}
.form_wrapper input[type="text"],
.form_wrapper input[type="password"]{
	border: solid 1px #E5E5E5;
	background: #FFFFFF;
	margin: 5px 30px 0px 30px;
	padding: 9px;
	display:block;
	font-size:16px;
	width:76%;
	background:
		-webkit-gradient(
			linear,
			left top,
			left 25,
			from(#FFFFFF),
			color-stop(4%, #EEEEEE),
			to(#FFFFFF)
		);
	background:
		-moz-linear-gradient(
			top,
			#FFFFFF,
			#EEEEEE 1px,
			#FFFFFF 25px
			);
	-moz-box-shadow: 0px 0px 8px #f0f0f0;
	-webkit-box-shadow: 0px 0px 8px #f0f0f0;
	box-shadow: 0px 0px 8px #f0f0f0;
}
.form_wrapper input[type="text"]:focus,
.form_wrapper input[type="password"]:focus{
	background:#feffef;
}
.form_wrapper .bottom{
	background-color:#444;
	border-top:1px solid #ddd;
	margin-top:20px;
	clear:both;
	color:#fff;
	text-shadow:1px 1px 1px #000;
}
.form_wrapper .bottom a{
	display:block;
	clear:both;
	padding:10px 30px;
	text-align:right;
	color:#ffa800;
	text-shadow:1px 1px 1px #000;
}
.form_wrapper a.forgot{
	float:right;
	font-style:italic;
	line-height:24px;
	color:#ffa800;
	text-shadow:1px 1px 1px #fff;
}
.form_wrapper a.forgot:hover{
	color:#000;
}
.form_wrapper div.remember{
	float:left;
	width:140px;
	margin:20px 0px 20px 30px;
	font-size:11px;
}
.form_wrapper div.remember input{
	float:left;
	margin:2px 5px 0px 0px;
}
.form_wrapper span.error{
	visibility:hidden;
	color:red;
	font-size:11px;
	font-style:italic;
	display:block;
	margin:4px 30px;
}
.form_wrapper input[type="submit"] {
	background: #e3e3e3;
	border: 1px solid #ccc;
	color: #333;
	font-family: "Trebuchet MS", "Myriad Pro", sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding: 8px 0 9px;
	text-align: center;
	width: 150px;
	cursor:pointer;
	float:right;
	margin:15px 20px 10px 10px;
	text-shadow: 0px 1px 0px #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0px 0px 2px #fff inset;
	-webkit-box-shadow: 0px 0px 2px #fff inset;
	box-shadow: 0px 0px 2px #fff inset;
}
.form_wrapper input[type="submit"]:hover {
	background: #d9d9d9;
	-moz-box-shadow: 0px 0px 2px #eaeaea inset;
	-webkit-box-shadow: 0px 0px 2px #eaeaea inset;
	box-shadow: 0px 0px 2px #eaeaea inset;
	color: #222;
}*/


/*Form end*/

/*Another testing form*/

/*.form {
  display: flex;
  flex-direction: column;
  position: absolute;
  visibility: visible;
  background-color: black;
  text-align: center;

}

#formHead {
  margin: 0;
  font-size: 52px;
}

#formInputs {
}

.formInput {
  background-color: black;
  width: 200px;
  height: 38px;
  padding: 6px 10px;
  border-radius: 10px;
  font-size: 15px;
  margin: 10px;
}

#formParagraph {
  color: white;
  width: 50%;
  font-size: 28px;
  margin: 0 auto 50px auto;
}

.inputSet {
  margin: 20px;
}*/

/*Form ends*/

@media (min-width: 550px) {
  #secondPage {
    padding-bottom: 100px;
  }

  #fourthPage {
    min-width: 80%;
  }

  #container2 {
    padding: 80px 0 20px;
  }

  #section1_2 {
    width: 80%;
  }

  #part2 {
    width: 48%;
  }
}
