body {
  margin: 0;
}

h1 {
  text-align: center;
  margin-top: 10%;
  font-family: "Baloo Tammudu", sans-serif;
  font-size: 50px;
  color: white;
}

li {
  list-style: none;
  display: inline;
}

#firstPage {
  background-image: url(background-cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover {
  background: rgba(37, 42, 48, 0.25);
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

#logo {
  margin: 30px auto 0 auto;
}

.hire {
  width: 300px;
  margin: 10px auto 0 auto;
  border: 2px solid rgba(255, 255, 0, 1);
  border-radius: 50px;
  text-decoration: none;
  color: white;
  padding: 15px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  transition: width 0.3s, color 0.3s, background-color 0.3s;
}

.hire:hover {
  background-color: rgba(255, 255, 255, 1);
  color: black;
  width: 320px;
  transition: width 0.3s, color 0.3s, background-color 0.3s;
}

.learn {
  color: lightgray;
  margin: auto;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

#learn {
  margin: 0;
}

#arrow {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}

#arrow::before {
  content: "⌄";
  font-size: 30px;
}

.secondPage {
  background-color: rgba(255, 255, 255, 1);
}

.thirdPage {
  background-color: rgba(238, 238, 238, 1);
}

.fourthPage {
  background-color: rgba(255, 255, 255, 1);
}

.fifthPage {
  background-color: rgba(254, 215, 102, 1);
  text-align: center;
  margin: 0 auto;
}

.sixthPage {
  visibility: hidden;
}

#secondPage {
  height: auto;
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

#thirdPage {
  height: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

#fourthPage {
  height: 3200px;
  max-width: 1140px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

#fifthPage {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#container1 {
  margin: 50px auto 0 auto;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

#container1_2,
#container2_2 {
  display: flex;
  flex-direction: row;
  font-family: "Ubuntu", sans-serif;
}

#container2_2 {
  position: relative;
  overflow: hidden;
  padding: 50px 0 0;
  margin-bottom: 100px;
  border-bottom: 1px solid #d6e1e5;
}

#p1 {
  font-size: 40px;
  font-weight: 600;
}

#p2 {
  font-size: 20px;
  font-weight: 400;
  color: rgba(100, 100, 100, 1);
}

#section1,
#section2,
#section3 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#section1_1 {
  font-size: 38px;
  display: flex;
  flex-direction: column;
}

#section1_2 {
  font-size: 17px;
  margin: 5px auto auto auto;
  line-height: 35px;
  text-align: center;
  color: rgba(147, 164, 170, 1);
}

#email {
  text-decoration: none;
  color: rgba(94, 164, 247, 1);
  border-bottom: 1px dotted rgba(94, 164, 247, 1);
}

#email:hover {
  color: rgba(30, 174, 219, 1);
}

#project3 {
  width: 300px;
}

#part1 {
  display: flex;
  flex-direction: row;
  float: left;
}

.project-tags {
  color: #b2c6cd;
  font-weight: 700;
  letter-spacing: 1px;
  opacity: 1;
  text-transform: uppercase;
  padding-left: 0;
}

.project-tags::before {
  content: "\2022";
  color: yellow;
}

.projects {
  width: 100%;
}

#part2 {
  float: right;
  margin: auto;
}

#fifth-p1 {
  font-size: 40px;
  font-weight: 600;
}

#fifth-p2 {
  font-size: 25px;
  width: 35%;
  margin: auto;
}

.getStarted {
  width: 150px;
  margin: 60px auto 0 auto;
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 50px;
  text-decoration: none;
  color: black;
  padding: 15px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  transition: width 0.3s, color 0.3s, background-color 0.3s;
}

.getStarted:hover {
  width: 200px;
  color: rgba(255, 255, 0, 1);
  background-color: black;
  transition: width 0.3s, color 1s, background-color 0.8s;
}

/*.resume {
  width: 100%;
  height: auto;
  text-align: center;
  background: gray;
}*/

.resume {
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 50px;
  text-decoration: none;
  color: black;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0);
  transition: padding 0.3s, color 0.3s, background-color 0.3s;
}

.resume:hover {
  background-color: rgba(0, 0, 0, 1);
  color: rgba(254, 215, 102, 1);
  padding-right: 25px;
  padding-left: 25px;
  transition: padding 0.3s, color 0.3s, background-color 0.3s;
}
.footer {
  background-color: rgba(37, 42, 48, 1);
}

#footer {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
}

.links {
  margin: 15px auto 0 auto;
}

#links {
  width: 30px;
  height: auto;
}

@media (min-width: 550px) {
  #secondPage {
    padding-bottom: 100px;
  }

  #fourthPage {
    min-width: 80%;
  }

  #container2 {
    padding: 80px 0 20px;
  }

  #section1_2 {
    width: 80%;
  }

  #part2 {
    width: 48%;
  }
}
